body{
    padding: 0;
    margin: 0;
}
.container{
    height: 220px;
    width: 455px;
    position: relative;
    margin:auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    

}
p{

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
h1{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn1{

    height: 80px;
    width: 200px;
    font-size: x-large;
    font-weight: bold;
    background-color: indigo;
    color: white;
    border: none;
    transition:  ease-in 0.2s;

}
.btn1:hover{
    background-color: yellow;
    color: black;
    cursor: pointer;
}

.btn2{
    height: 80px;
    width: 200px;
    font-size: x-large;
    font-weight: bold;
    color: white;
    border: none;
    transition: ease-in 0.2s;
    border-radius: 10px;
    background: -webkit-linear-gradient(60deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-size: 400px 80px;

}

.btn2:hover{
    
    background-position: 200px 0;
    color: black;
    cursor: pointer;
}

.btn3{

    height: 80px;
    width: 200px;
    font-size: x-large;
    font-weight: bold;
    color: white;
    border: none;
    transition: ease-in 0.2s;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(238,174,202,1) 23%, rgba(148,187,233,1) 54%);
    background-size: 400px 80px;

}

.btn3:hover{
    background-position: -200px 0;
    cursor: pointer;
    color: black;
}

.btn4{

    height: 80px;
    width: 200px;
    font-size: x-large;
    font-weight: bold;
    color: white;
    border: none;
    transition: ease-in 0.2s;
    border-radius: 10px;
    background: black;
    background-size: 400px 80px;

}

.btn4:hover{
    background: yellow;
    color: black;
    cursor: pointer;
    background-position: 0 200px;


}
.input{
    
    color : indigo;
    border-top:none ;
    border-left: none ;
    border-right: none;
    height: 30px;
    width: 200px;
    margin-top: 20px;
    transition: ease 0.3s;

}
.input:hover{
    
    transition: ease 0.3s;
    border: solid indigo;
}
