body {
    margin: 0px;
    }
.container {
    width: auto;
    height: 839px;
    background: #820AD1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

.box{
    box-shadow:  3px 3px 10px #636363;
    align-items: center;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    background: white;
} 

.textLogin{

    text-align: center;
    font-size:x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;

}
.textUser{
    margin-left: 20px;
    margin-top: 60px;
    color: #820AD1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.inputTextUser{
    border-radius: 5px;  
    border-color: #820AD1;
    margin-left: 20px;
    width: 350px;
    height: 30px;
    color: #612F74;
    
}
.textPassword{
    margin-left: 20px;
    margin-top: 50px;
    color: #820AD1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.inputPassword{
    border-color: #820AD1;
    border-radius: 5px; 
    color: #612F74;
    margin-left: 20px;
    width: 350px;
    height: 30px;

}
.btnLogin{
    box-shadow:  3px 3px 10px #ababab;
    transition: ease 0.2s;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white; 
    color: #612F74;
    border: none;
    border-radius: 15em;  
    margin-top: 60px;
    margin-left: 100px;
    height: 50px;
    width: 200px;
}

.btnLogin:hover{

    color: white;
    cursor: pointer;
    background-color: #820AD1;
}
.textForgout{
    cursor: pointer;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #820AD1;
    font-weight: bold;
}

.logo{
    margin: 0;
    padding: 0;
    background-color: #820AD1;
}
.logoNubank{
    padding: 15px;
    width: 60px;
    height: 60px;
    
}